.head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet' type='text/css' href='colors.css')
    title('Plumber.jpg')
.body
    .container
        .row
            .col-3.white
            .col-6.red
            .col-3.white
        .row
            .col-2.white
            .col-9.red
            .col-1.white
        .row
            .col-2.white
            .col-3.brown
            .col-2.tan
            .col-1.black
            .col-1.tan
            .col-3.white
        .row
            .col-1.white
            .col-1.brown
            .col-1.tan
            .col-1.brown
            .col-3.tan
            .col-1.black
            .col-3.tan
            .col-1.white
        .row
            .col-1.white
            .col-1.brown
            .col-1.tan
            .col-2.brown
            .col-3.tan
            .col-1.black
            .col-3.tan
        .row
            .col-1.white
            .col-2.brown
            .col-4.tan
            .col-4.black
            .col-1.white
        .row
            .col-2.white
            .col-8.tan
            .col-2.white
        .row
            .col-2.white
            .col-2.red
            .col-1.blue
            .col-3.red
            .col-3.white
        .row
            .col-1.white
            .col-3.red
            .col-1.blue
            .col-2.red
            .col-1.blue
            .col-3.red
            .col-1.white
        .row
            .col-4.red
            .col-4.blue
            .col-3.red
            .col-1.white
        .row
            .col-2.tan
            .col-1.red
            .col-1.blue
            .col-1.yellow
            .col-2.blue
            .col-1.yellow
            .col-1.blue
            .col-1.red
            .col-2.tan
        .row
            .col-3.tan
            .col-6.blue
            .col-3.tan
        .row
            .col-2.tan
            .col-8.blue
            .col-2.tan
        .row
            .col-2.white
            .col-3.blue
            .col-2.white
            .col-3.blue
            .col-2.white
        .row
            .col-1.white
            .col-3.brown
            .col-4.white
            .col-3.brown
            .col-1.white
        .row
            .col-4.brown
            .col-4.white
            .col-4.brown